.CartItemCard {
    display: flex;
    padding: 1vmax;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
  }
  .CartItemCard img {
    width: 10vmax;
    object-fit:contain;   
  }
  
   .cart-item-info {
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
    width: 75%;
  }
  
   .cart-item-info > a {
    font: 600 1.2vmax  ;
    color: rgba(24, 24, 24, 0.815);
    text-decoration: none;
    margin-top: 1vmax;
  }
  
   .cart-item-info > span {
    font: 300 1vmax "Roboto";
    margin-top: .4vmax;
    color: rgba(24, 24, 24, 0.815);
  }
  
   .cart-item-info > p {
    color: red;
    margin-top: 1vmax;
    font: 100 1vmax "Roboto";
    cursor: pointer;
  }
   .cart-item-info > p:hover{
      text-decoration: underline;
  }
  @media screen and (max-width: 640px) {
    .CartItemCard {
      padding-top: 6vmax;
      height: 20vmax;
    }
    .CartItemCard > a > img {
      width: 10vmax;
    }
  
     .cart-item-info {
      margin: 1vmax 2vmax;
      width: 55%;
    }
  
     .cart-item-info > a {
      font-size: 1.5vmax  ;
    }
  
     .cart-item-info > span {
      font: 300 1.5vmax "Roboto";
    }
  
     .cart-item-info > p {
      font: 100 1.1vmax "Roboto";
    }
  }