
  .forgotPasswordBox {
    width: 25vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 10px rgba(207, 206, 206, 0.384);
  }
  
  .forgotPasswordHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid #ff007b;
    width: 50%;
    margin: auto;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  .forgotComp>button{
    background: none;
    border: none;
    position: absolute;
    transform: translate(.5vmax,1vmax);
    z-index: 2;
    cursor: pointer;
  }
  .forgotComp>button>svg{
    font-size: 2vmax;
    color: rgba(0, 0, 0, 0.664);
  }
  .forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    background: transparent;
  }
  
  .forgotPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font: 300 0.9vmax cursive;
    outline: none;
    background: transparent;

  }
  
  .forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:#ff007b ;
    z-index: 10;
  }
  
  .forgotPasswordBtn {
    border: none;
    background-color: #ff007b;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .forgotPasswordBtn:hover {
    background-color: black;
  }
  
  @media screen and (max-width: 640px) {
    .forgotPasswordContainer {
      background-color: white;
    }
    .forgotPasswordBox {
      width: 100vw;
      height: 95vh;
      margin-top: 12vmax;
    }
  
    .forgotPasswordForm {
      padding: 5vmax;
    }
    .forgotPasswordHeading {
      font: 400 3vmax "Roboto";
      
    }
    .forgotPasswordForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax 'Roboto';
    }
  
    .forgotPasswordForm > div > svg {
      font-size: 3vmax;
    }
    .forgotComp>button{
      top:8%;
    }
    .forgotComp>button>svg{
      font-size: 5vmax;
      top:40%;
    }
    .forgotPasswordBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }