.profileContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    max-width: 100%;
    background-color: white;

  }
  
  .profileContainer > div {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profileContainer > div:first-child > h1 {
    color: rgba(0, 0, 0, 0.555);
    font: 500 2.2vmax "Roboto";
    transform: translateY(-7vmax);
  }
  
  .profileContainer > div:first-child > img {
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.5s;
    padding: .5vmax;
  }
  .profileContainer>div>div,.profileContainer>div>div>a{
    overflow: hidden;
  }
  .profileContainer > div:first-child > img:hover {
    transform: scale(1.05);
  }
  
  .update {
    border: none;
    background:#ff007b;
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    width: 32%;
    margin: 3vmax;
    margin-bottom: 1vmax;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
  }
  .logout {
    border: none;
    background:red;
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    width: 32%;
    margin: -2vmax;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 1vmax;
    border-radius: 4px;
  }
  

    .logout:hover ,.update:hover{
    background: black;
  }
  .profileContainer > div:last-child {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5vmax;
    box-sizing: border-box;
  }
  
  .profileContainer > div:last-child > div > h4 {
    color: black;
    font: 400 1.2vmax "Roboto";
  }
  
  .profileContainer > div:last-child > div > p {
    color: #ff007b;
    font: 400 1.2vmax cursive;
    margin: 0.2vmax;
  }
  
  .profileContainer > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .profileContainer > div:last-child > div:last-child > a {
    border: none;
    background-color: rgb(68, 68, 68);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
    border-radius: 4px;
  }

  .updatePass{
    border: none;
    background-color: rgb(68, 68, 68);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
    border-radius: 4px;
  }
  
  .profileContainer > div:last-child > div:last-child > a:hover {
    background-color: rgb(31, 31, 31);
  }
  .updateInfo{
    font: 400 1vmax cursive;
    margin: .5vmax auto;
    border: none;
    border-bottom: 1px solid #ff007b;
    outline: none;
    padding-left: .3vmax;
  }
  .updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  .loginPassword{
    display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  }
  .loginPassword>input{
    padding-left: 1.5vmax;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ff007b;
    margin: .3vmax;
    font: 300 1vmax cursive;
    outline: none;
    
  }
  .updatePasswordForm > div > svg {
    position: absolute;
    transform: translateX(.4vmax);
    font-size: 1.2vmax;
    color: #ff007b;
  }

  @media screen and (max-width: 600px) {
    .profileContainer {
      flex-direction: column;
    }
  
    .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
    }
  
    .logout ,.update{
      font: 400 1.7vmax "Roboto";
      padding: .8vmax;
      width: 34%;
    }
  
    .profileContainer > div:last-child {
      text-align: center;
      align-items: center;
      
    }
  
    .profileContainer > div:last-child > div > h4 {
      font: 400 2vmax "Roboto";
    }
  
    .profileContainer > div:last-child > div > p {
      font: 400 2vmax cursive;
      margin: 0.5vmax 0;
    }
  
    .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
    }
     .loginPassword{
       display:unset;
     }
    .updateInfo{
      font: 400 2vmax 'Roboto';
      text-align: center;
  }
    .loginPassword>input{
      font: 300 1.5vmax 'Roboto';
      text-align: center;
    }
    .updatePasswordForm > div > svg {
      transform: translate(.4vmax,.5vmax);
      font-size: 1.5vmax;
      color: rgba(0, 0, 0, 0.623);
    }
  }